<a href="https://colab.research.google.com/github/gxth969-pixel/ict_assignments/blob/main/Assignment01_gautham.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<H1> ASSIGNMENT 01

**1**

In [ ]:
# Input prices for each item
item1 = float(input("enter price of item1"))
item2 = float(input("enter price of item2"))

#input quantity for each item
item1_quantity = int(input("enter quantity of item1"))
item2_quantity = int(input("enter quntity of item2"))

#total bill
total = item1*item1_quantity+item2*item2_quantity

print("total bill=", total)

enter price of item145
enter price of item230
enter quantity of item13
enter quntity of item22
total bill= 195.0

**2**

In [ ]:
c = int(input("enter the temperature in celsius: "))
f = (c*9/5)+32
print("tempreature in fahrenheit =", f)

enter the temperature in celsius: 30
tempreature in fahrenheit = 86.0

**3**

In [1]:
a = float(input("enter basic salary: "))
n = a+(0.20*a)+(0.10*a)
print("nt salary: ", n)

enter basic salary: 20000
nt salary:  26000.0

**4**

In [2]:
# Input principal amount, rate of interest, and time period
p = float(input("Enter the principal amount: "))
r = float(input("Enter the annual interest rate (in percentage): "))
t = float(input("Enter the time period (in years): "))

# Calculate simple interest
si = (p * r * t) / 100

# Print the result
print("Simple Interest =", si)

Enter the principal amount: 10000
Enter the annual interest rate (in percentage): 5
Enter the time period (in years): 2
Simple Interest = 1000.0

**5**

**6**

In [6]:
#input weight and height
weight = float(input("enter the weight in kg:"))
height = float(input("enter the height in m:"))

#calculate the BMI
BMI = weight/(height*height)

#output result
print("BMI =",BMI )

enter the weight in kg:60
enter the height in m:1.65
BMI = 22.03856749311295

**7**

In [11]:
# input the item and discoun
a = float(input("enter the price of the item"))
b = float(input("enter the disount"))

# price of the item after 10% discount
discount =a-(a*b)/100

#output
print("discounted price:", discount)

enter the price of the item1200
enter the disount10
discounted price: 1080.0

**8**

In [12]:
a=float(input("Enter side a:"))
b=float(input("Enter side b:"))
c=float(input("Enter side c:"))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)

Enter side a:5
Enter side b:6
Enter side c:7
14.696938456699069

**9**

In [15]:
a=float(input("Enter wall length: "))
b=float(input("Enter wall height: "))
t=a*b
w=2*(1.5*1.2)
p=t-w
print("total area painted: ",p)
c=p*25
print("total cost: ",c)

Enter wall length: 12
Enter wall height: 8
total area painted:  92.4
total cost:  2310.0

**10**

In [17]:
a=float(input("Enter number of units consumed: "))
b=(a*5.2)+100
print("electricity bill: ",b)

Enter number of units consumed: 250
electricity bill:  1400.0

<H1>           _________________________